.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer > a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.title > a {
  color: #0070f3;
  text-decoration: none;
}

.title > a:hover,
.title > a:focus,
.title > a:active {
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.code {
  padding: 0.75rem;
  font-family: Menlo, 'Monaco, Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (width <= 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 45%;
  padding: 1.5rem;
  margin: 1rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card > h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card > p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.lowboard {
  width: 399px;
  height: 496px;
  position: absolute;
  text-align: center;
  background: rgb(205 205 205);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255 255 255) rgb(134 134 134) rgb(134 134 134) rgb(255 255 255);
}

.board {
  width: 342px;
  height: 342px;
  position: absolute;
  left: 28.5px;
  top: 125.25px;
  background: rgb(205 205 205);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 38px;
  height: 38px;
  border-top-color: rgb(255 255 255);
  border-right-color: rgb(134 134 134);
  border-bottom-color: rgb(134 134 134);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  border-left-color: rgb(255 255 255);
  border-style: solid;
  border-width: 4px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  line-height: 23px;
  background-size: 30px;
  align-content: center;
}

.tile {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png');
  background-position: 60px;
  margin: 3px;
}

.reset {
  width: 61.75px;
  height: 61.75px;
  background: url('~/assets/images/icons.png');
  background-position: 162px;
  background-size: 1400%;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255 255 255) rgb(134 134 134) rgb(134 134 134) rgb(255 255 255);
  left: 168px;
  position: absolute;
  top: 36px;
}

/* stylelint-disable-next-line block-no-empty */
.reset:active {
  border-top-color: rgb(134 134 134);
  border-right-color: rgb(134 134 134);
  border-bottom-color: rgb(134 134 134);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  border-left-color: rgb(134 134 134);
  border-bottom-width: 3px;
  border-right-width: 3px;
  background-position: 166px;
  left: 168px;
  position: absolute;
  top: 36px;
}

.timer {
  top: 47px;
  left: 281px;
  font-size: 200%;
  position: absolute;
}
